ForTesting/obj/
ForTesting/[Bb]in
ForTesting/[Dd]ebug*/
ForTesting/[Rr]elease*/

Phutball/obj/
Phutball/[Bb]in
Phutball/[Dd]ebug*/
Phutball/[Rr]elease*/

Phutball.Setup/obj/
Phutball.Setup/[Bb]in
Phutball.Setup/[Dd]ebug*/
Phutball.Setup/[Rr]elease*/

Phutball.Shell/publish/
Phutball.Shell/obj/
Phutball.Shell/[Bb]in
Phutball.Shell/[Dd]ebug*/
Phutball.Shell/[Rr]elease*/

Phutball.Tests/obj/
Phutball.Tests/[Bb]in
Phutball.Tests/[Dd]ebug*/
Phutball.Tests/[Rr]elease*/

Phutball.Shell.Tests/obj/
Phutball.Shell.Tests/[Bb]in
Phutball.Shell.Tests/[Dd]ebug*/
Phutball.Shell.Tests/[Rr]elease*/

#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.gpState
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
*.Resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/
